Repository houssamkhalifeh/preuve-covoiturage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonathanfallon, @nmrgt, @gillesboisson

.github/CODEOWNERS:

################################################################################
#							    Backend services
################################################################################

# Resources
/api/db								        @jonathanfallon @nmrgt

# Reverse Proxy
/api/proxy							      @jonathanfallon @nmrgt

# API services
/api/services/acquisition			@jonathanfallon
/api/services/application			@jonathanfallon
/api/services/certificate			@jonathanfallon
/api/services/company				  @nmrgt
/api/services/fraud					  @nmrgt
/api/services/normalization		@jonathanfallon
/api/services/operator				@jonathanfallon
/api/services/policy				  @nmrgt
/api/services/territory				@jonathanfallon
/api/services/trip					  @nmrgt
/api/services/user					  @jonathanfallon

/api/providers/crypto				  @nmrgt
/api/providers/geo					  @jonathanfallon
/api/providers/middleware		  @nmrgt
/api/providers/notification	  @nmrgt
/api/providers/sentry				  @jonathanfallon
/api/providers/token				  @jonathanfallon
/api/providers/validator		  @jonathanfallon

################################################################################
#							       Frontend
################################################################################

/dashboard					          @gillesboisson

################################################################################
#						         Shared Resources
################################################################################
/api/shared							      @jonathanfallon @gillesboisson
/docker-compose*					    @jonathanfallon
/docker								        @jonathanfallon
/api/scalingo						      @jonathanfallon
/scalingo.json						    @jonathanfallon

/.github							        @jonathanfallon

/CHANGELOG.md						      @jonathanfallon
/LICENSE							        @jonathanfallon
/README.md							      @jonathanfallon

add basic README.md to services and providers
  api-doc/docs/api/infra.md
  api-doc/gen/helpers.js
  api-doc/gen/index.js
  api-doc/gen/providers.js
  api-doc/gen/services.js
  api/providers/acl/README.md
  api/providers/crypto/README.md
  api/providers/date/README.md
  api/providers/file/README.md
  api/providers/geo/README.md
  api/providers/middleware/README.md
  api/providers/notification/README.md
  api/providers/pdfcert/README.md
  api/providers/qrcode/README.md
  api/providers/sentry/README.md
  api/providers/template/README.md
  api/providers/test/README.md
  api/providers/token/README.md
  api/providers/validator/README.md
  api/services/acquisition/README.md
  api/services/application/README.md
  api/services/carpool/README.md
  api/services/certificate/README.md
  api/services/company/README.md
  api/services/fraud/README.md
  api/services/honor/README.md
  api/services/monitoring/README.md
  api/services/normalization/README.md
  api/services/operator/README.md
  api/services/policy/README.md
  api/services/territory/README.md
  api/services/trip/README.md
  api/services/user/README.md
  dashboard/src/app/core/const/main.const.ts
  dashboard/src/app/modules/trip/pages/trip-import/trip-import.component.html
  dashboard/src/app/modules/trip/pages/trip-import/trip-import.component.ts
Owners: @nmrgt, @jonathanfallon, @gillesboisson

graph component split
  dashboard/src/app/modules/stat/config/statChartColors.ts
  dashboard/src/app/modules/stat/config/statChartOptions.ts
  dashboard/src/app/modules/stat/modules/stat-ui/GraphTimeMode.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-timemode-nav/stat-graph-timemode-nav.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-timemode-nav/stat-graph-timemode-nav.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-timemode-nav/stat-graph-timemode-nav.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/stat-ui.module.ts
Owners: @gillesboisson

graph refacto mixed Input implementation on base class and sub class
  dashboard/cypress/archive/e2e.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
Owners: @gillesboisson

graph refacto better title handling
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.ts
Owners: @gillesboisson

update stat store in order to support time groupby
  dashboard/src/app/core/services/store/getlist-store.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-view/stat-graph-view.component.ts
  dashboard/src/app/modules/stat/services/stat-filtered-store.service.ts
Owners: @gillesboisson

api group by support
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/services/stat-filtered-store.service.ts
Owners: @gillesboisson

new graph structure integration in distance carpooler petrol co2 carpooler_vehicule charts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-timemode-nav/stat-graph-timemode-nav.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/services/stat-format.service.ts
Owners: @gillesboisson

graph data format refacto + trip graph intergration
  api/services/trip/src/providers/TripRepositoryProvider.ts
  dashboard/src/app/core/interfaces/stat/formatedStatInterface.ts
  dashboard/src/app/core/services/store/getlist-store.ts
  dashboard/src/app/modules/stat/config/statChartOptions.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-view/stat-graph-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-view/stat-graph-view.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/stat-ui.module.ts
  dashboard/src/app/modules/stat/services/ApiGraphTimeMode.ts
  dashboard/src/app/modules/stat/services/_stat-store.service.ts
  dashboard/src/app/modules/stat/services/stat-filtered-store.service.ts
  dashboard/src/app/modules/stat/services/stat-format.service.ts
  dashboard/src/app/modules/stat/services/stat-public.service.ts
Owners: @nmrgt, @gillesboisson

stat graph clean old librairis + optim
  dashboard/src/app/core/services/store/getlist-store.ts
  dashboard/src/app/modules/stat/config/statChartColors.ts
  dashboard/src/app/modules/stat/config/statChartOptions.ts
  dashboard/src/app/modules/stat/config/statGraphs.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-view/stat-graph-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-timemode-nav/stat-graph-timemode-nav.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.html
  dashboard/src/app/modules/stat/services/_stat-store.service.ts
  dashboard/src/app/modules/stat/services/stat-filtered-store.service.ts
  dashboard/src/app/modules/stat/services/stat-format.service.ts
  dashboard/src/app/modules/stat/services/stat-public.service.ts
  dashboard/src/app/modules/stat/stat-format.ts
Owners: @gillesboisson

stats : loading state refacto
  dashboard/src/app/core/services/store/PaginationState.ts
  dashboard/src/app/core/services/store/StoreLoadingState.ts
  dashboard/src/app/core/services/store/getlist-store.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.ts
Owners: @gillesboisson

exclude dist folders from VScode Go to file...
  .vscode/settings.json
  dashboard/src/app/core/services/store/getlist-store.ts
Owners: @gillesboisson

graph : component state transition issue
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
Owners: @gillesboisson

fix default dates and fill in days or months with no trips
  api/services/trip/src/actions/StatsAction.ts
  api/services/trip/src/providers/TripRepositoryProvider.ts
  dashboard/src/app/core/entities/filter/filter.ts
  dashboard/src/app/modules/filter/components/filter/filter.component.html
  dashboard/src/app/modules/filter/components/filter/filter.component.ts
  dashboard/src/app/modules/filter/services/filter.service.ts
  dashboard/src/app/modules/filter/validators/date-range.validator.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.ts
  dashboard/src/app/modules/stat/services/stat-api.service.ts
  dashboard/src/app/modules/stat/stat-format.ts
Owners: @nmrgt, @gillesboisson

fix old component
  .gitignore
  api/services/trip/src/providers/TripRepositoryProvider.ts
  dashboard/src/app/core/interfaces/stat/statNumberInterface.ts
  dashboard/src/app/core/types/stat/statDataNameType.ts
  dashboard/src/app/modules/stat/config/stat.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph-base.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carbon/stat-graph-carbon.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpooler-vehicule/stat-graph-carpooler-vehicule.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-carpoolers/stat-graph-carpoolers.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-distance/stat-graph-distance.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-petrol/stat-graph-petrol.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph-trip/stat-graph-trip.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-numbers-nav/stat-numbers-nav.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-numbers-nav/stat-numbers-nav.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-numbers-nav/stat-numbers-nav.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-number/stat-number.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-number/stat-number.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-operator-view/stat-operator-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-operator-view/stat-operator-view.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/stat-ui.module.ts
  dashboard/src/app/modules/stat/pages/public-stat/public-stat.component.ts
  dashboard/src/app/modules/stat/services/ApiGraphTimeMode.ts
  dashboard/src/app/modules/stat/services/stat-api.service.ts
  dashboard/src/app/modules/stat/services/stat-filtered-store.service.ts
  shared/trip/common/interfaces/TripSearchInterface.ts
  shared/trip/common/interfaces/TripStatInterface.ts
  shared/trip/common/schemas/search.ts
Owners: @nmrgt, @gillesboisson

stat : refacto stat-view to one signe costomizable component
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-graph/stat-graph.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-operator-view/stat-operator-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-operator-view/stat-operator-view.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-territory-view/stat-territory-view.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-view/stat-view.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-view/stat-view.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-view/stat-view.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/stat-ui.module.ts
  dashboard/src/app/modules/trip/pages/trip-stats/trip-stats.component.html
  dashboard/src/app/modules/trip/pages/trip-stats/trip-stats.component.ts
Owners: @gillesboisson

add seperate ApiGraphTimeMode interface declaration
  api/services/trip/src/providers/TripRepositoryProvider.ts
  shared/trip/common/interfaces/ApiGraphTimeMode.ts
  shared/trip/common/interfaces/TripSearchInterface.ts
Owners: @nmrgt

remove isOperator from app-strat-view
  dashboard/src/app/modules/trip/pages/trip-stats/trip-stats.component.html
  dashboard/src/app/modules/trip/pages/trip-stats/trip-stats.component.ts
Owners: @gillesboisson

fix ApiGraphTimeMode import
  api/services/trip/src/providers/TripRepositoryProvider.ts
Owners: @nmrgt

fix group_by all for totalStats
  api/services/trip/src/providers/TripRepositoryProvider.ts
  dashboard/src/app/modules/stat/services/stat-api.service.ts
  dashboard/src/app/modules/stat/services/stat-filtered-store.service.ts
  shared/trip/common/schemas/search.ts
Owners: @nmrgt, @gillesboisson

merge honor stats on public page
  api/proxy/src/HttpTransport.ts
  api/services/honor/src/providers/HonorRepositoryProvider.ts
  api/services/trip/src/ServiceProvider.ts
  api/services/trip/src/actions/PublicStatsAction.ts
  dashboard/package.json
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-honor/stat-honor.component.html
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-honor/stat-honor.component.scss
  dashboard/src/app/modules/stat/modules/stat-ui/components/stat-honor/stat-honor.component.ts
  dashboard/src/app/modules/stat/modules/stat-ui/stat-ui.module.ts
  dashboard/src/app/modules/stat/pages/public-stat/public-stat.component.html
  dashboard/src/app/modules/stat/pages/public-stat/public-stat.component.scss
  dashboard/src/app/modules/stat/services/stat-honor.service.ts
  dashboard/yarn.lock
  shared/honor/stats.contract.ts
Owners: @jonathanfallon, @nmrgt, @gillesboisson

fix(territory): fix permission
  api/services/territory/src/actions/CreateTerritoryAction.ts
Owners: @jonathanfallon

wip(territory): add sync action
  api/proxy/src/commands/SyncTerritoryInseeCommand.ts
  api/services/territory/src/actions/SyncTerritoryAction.ts
  api/services/territory/src/providers/TerritoryAdministrativeDataProvider.spec.ts
  api/services/territory/src/providers/TerritoryAdministrativeDataProvider.ts
  shared/territory/sync.contract.ts
Owners: @jonathanfallon, @nmrgt

wip: cypress
  docker/cypress/Dockerfile
  tests/cypress.json
  tests/cypress/integration/first.spec.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
  tests/cypress/support/index.js
  tests/package.json
  tests/yarn.lock
Owners: @jonathanfallon

wip(test): first cypress e2e test
  docker/cypress/Dockerfile
  tests/.gitignore
  tests/cypress.json
  tests/cypress/integration/common/globalBefore.js
  tests/cypress/integration/common/je_clique_sur_{string}.js
  tests/cypress/integration/common/je_remplis_{string}_avec_les_donnees_suivantes.js
  tests/cypress/integration/common/je_suis_connecte.e_comme_{string}.js
  tests/cypress/integration/common/je_vois que_{string}_inclut_{string}.js
  tests/cypress/integration/common/je_vois que_{string}_n_inclut_pas_{string} copy.js
  tests/cypress/integration/common/je_vois_le_titre_{string}.js
  tests/cypress/integration/common/je_vois_un_message_indiquant_{string}.js
  tests/cypress/integration/common/je_vois_{string}.js
  tests/cypress/integration/common/une_requete_{string}_est_envoyee.js
  tests/cypress/integration/first.spec.js
  tests/cypress/integration/user.feature
  tests/cypress/support/commands.js
  tests/cypress/support/elementsSelectors.js
  tests/cypress/support/index.js
  tests/cypress/support/requests.js
  tests/package.json
  tests/yarn.lock
Owners: @jonathanfallon
